{% extends "base.html" %}
{% block title %}Deli'S Donuts - Inicio{% endblock %}
{% load static %}
{% block content %}

<div class="contenedor">
    <p>¿Quieres probar una deliciosa Doh-dona? Pues aquí en Delis-Donuts encontrarás las mejores donas, hechas con ingredientes frescos y de la más alta calidad. Disfruta de una amplia variedad de sabores, desde los clásicos glaseados hasta innovadoras combinaciones que te sorprenderán. Nuestras donas son perfectas para cualquier ocasión, ya sea para un antojo personal, una reunión con amigos o una celebración especial. Ven y descubre por qué nuestras donas son las favoritas de todos. ¡Te esperamos!</p>
</div>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'images/carrusel2opc4.jpg' %}" class="d-block w-100" alt="Imagen 1">
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/carrousel1opc1.jpg' %}" class="d-block w-100" alt="Imagen 2">
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/carrusel3opc1.jpg' %}" class="d-block w-100" alt="Imagen 3">
        </div>
    </div>
</div>

{% endblock %}
