
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*::after,
*::before,
*{ 
    margin:0;
    padding: 0;
    box-sizing: border-box;
} 

body{
    font-family: 'Comic Sans MS', Times, serif !important;
    background-color: #fff !important;
    display: inline; 
    margin: 0 auto !important;
    max-width: 1200px !important;
    font-family: 'Lato';
    color: #e07faf;
    background-image: url("fondoiniciodeltodo9.jpg");  
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
}



.navbar{
    border: 1px solid #FFFFFF;
    text-shadow: 1px 1px #e956b8 !important;
}



.button {
    font-size: 12px !important;
    color: #fff !important;
    background-color: #5adaeb !important;
    padding: 15px 20px !important;
    border-radius: 35px !important;
    border: none !important;
    cursor: pointer !important;
    transition: background-color 0.3s ease !important;
    align-items: center !important;
    text-align: center !important;
    border: 2px solid #fff !important;
    margin: 10px !important;
    text-decoration: none !important;
}


.button:hover {
    background-color: #b5e7ed !important; 
}




@media (max-width: 768px) {
   
    .h1, h1 {
        font-size: 40px;
    }
   
}


@media (min-width: 768px) {
    
    .h1, h1 {
        font-size: 50px;
    }
    
}

