
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*::after,
*::before,
*{ 
    margin:0;
    padding: 0;
    box-sizing: border-box;
} 

body{
    font-family: 'Comic Sans MS', Times, serif !important;
    background-color: #fff !important;
    display: inline; 
    margin: 0 auto !important;
    max-width: 1200px !important;
    font-family: 'Lato';
    color: #e07faf;
    background-image: url("fondoiniciodeltodo10.jpg");  
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    --bulma-body-background-color: none !important;
}



:root {
    --bulma-body-background-color: none !important; 
    
}

p{
    font-family: 'Comic Sans MS', Times, serif !important;
    font-size: 20px !important;
    color: #fff !important;
    margin-bottom: auto !important;
}







.navbar{
    border: 1px solid #FFFFFF;
    padding: 15px !important;
    text-shadow: 1px 1px #e956b8 !important;
}

 

.btn{
    --bs-btn-hover-border-color: #fff !important;
    
}


form {
    display: grid;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
    justify-content: center;
    gap: 10px;
    padding: 25vh;
    font-size: 25px !important;
    color: #ffff;
    background-image: url("fondoiniciodeltodo10.jpg");  
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    
    
}
   



.button {
    font-size: 15px !important; 
    margin: 8px !important;
    font-weight: bold !important; 
    color: #fff !important; 
    background-color: #e07faf !important;
    border: 2px solid #fff !important;
}


.button1{
   
    
    background-color: #e07faf !important;
    color: #ffffff !important;
    font-size: 15px !important;
    font-weight: bold !important;
    color: #fff !important;
    background-color: #e07faf !important; 
    padding: 15px 20px !important; 
    border-radius: 25px !important; 
    border: 2px solid #fff !important; 
    cursor: pointer !important; 
    transition: background-color 0.3s ease !important; 
    align-items: center !important;
    text-align: center !important;
    margin: 8px !important;
    display: inline-flex; 
    text-decoration: none !important; 
}

.form-content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 5%;
    border-top: 1px solid #ffffff;
    color: #ffffff;
    background-color: #d9aeb8;
    
}












.input, .select select, .textarea {
    background-color: #fff !important;
    color: #000 !important;
    --bulma-input-placeholder-color: #3c3333 !important;
    border: 1px solid #000 !important;
}


.body, button, input, optgroup, select, textarea {
    
    align-items: center;
    border-radius: var(--bulma-control-radius);
    border-style: solid;
    box-shadow: none;
    display: inline-flex;
    font-size: var(--bulma-control-size);
    height: var(--bulma-control-height);
    justify-content: flex-start;
    line-height: var(--bulma-control-line-height);
    padding: var(--bulma-control-padding-vertical) var(--bulma-control-padding-horizontal);
    position: relative;
    transition-duration: var(--bulma-duration);
    transition-property: background-color, border-color, box-shadow, color;
    vertical-align: top;
    width: 100%;
    --bulma-input-placeholder-color: #3c3333 !important;
    font-size: var(--bulma-control-size) !important;
    background-color: #fff !important;
    
}
.error{
   
    color: red;
   
}




@media (max-width: 768px) {
    
    .h1, h1 {
        font-size: 40px;
    }
    
}


@media (min-width: 768px) {
   
    .h1, h1 {
        font-size: 50px;
    }
    
}
